@model IEnumerable<OgrData.Models.TblOgrenciDer>

@{
    ViewData["Title"] = "YariyilNot";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Ders Listesi</div>
        <div class="panel-body">
            <br />
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th>
                            Ders Kodu
                        </th>
                        <th>
                            Ders Adı
                        </th>
                        <th>
                            Ders Kredisi
                        </th>
                        <th>
                            Vize
                        </th>
                        <th>
                            Final
                        </th>
                        <th>
                            Ortalama
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DersNavigation.DersKodu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DersNavigation.DersAdi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DersNavigation.DersKredi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vize)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Final)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ort)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>


